<form [formGroup]="productForm" novalidate (ngSubmit)="save($event);">
    <div class="form-group row">
        <label for="name" class="col-xs-3 col-form-label">Name</label>
        <div class="col-xs-9">
            <input class="form-control" type="text" formControlName="name" id="name">
        </div>
    </div>
    <div class="form-group row">
        <label for="category" class="col-xs-3 col-form-label">Category</label>
        <div class="col-xs-9">
            <input class="form-control" formControlName="category" type="text" id="category">
        </div>
    </div>
    <div class="form-group row">
        <label for="amount" class="col-xs-3 col-form-label">Amount</label>
        <div class="col-xs-9">
            <input class="form-control" formControlName="amount" type="number" id="amount">
        </div>
    </div>
    <div class="form-group row">
        <label for="qty" class="col-xs-3 col-form-label">Qty</label>
        <div class="col-xs-9">
            <input class="form-control" formControlName="qty" type="number" id="qty">
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-xs-3 col-form-label">Description</label>
        <div class="col-xs-9">
            <textarea rows="2" cols="3" formControlName="description" class="form-control" type="search"
                id="description"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-xs-3 col-form-label">&nbsp;</label>
        <div class="col-xs-9">
            <button type="submit" [disabled]="!productForm.valid" class="btn btn-flat btn-success">Save</button>
        </div>
    </div>
</form>