<div class="container" infinite-scroll (onScroll)="loadMore($event);">
    <div class="row"
     *ngFor="let rows of products">
        <div class="col-xs-3" *ngFor="let product of rows">
            <a class="card">
               <img class="card-img-top" style="width:100%;" src="http://i.huffpost.com/gen/3753474/images/o-PUG-facebook.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{{product?.name}}</h4>
                    <p class="card-text">{{product?.desc}}</p>
                    <h6 class="card-text">Rs. {{product?.price}}</h6>
                </div>
            </a>
        </div>
    </div>
</div>